/*checkbox 选项框  */
checkbox .wx-checkbox-input {
  width: 36rpx;
  height: 36rpx;
  border-radius: 50%;
  border-color: #ccc;
  vertical-align: middle;
}
/*checkbox选中后样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #fa5251;
}
/*checkbox选中后图标样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 28rpx;
  height: 28rpx;
  line-height: 28rpx;
  text-align: center;
  font-size: 22rpx;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}
.cart-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 10rpx 20rpx;
}
.cart-list .cart-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  border: solid 1px #000;
  border-radius: 10rpx;
  padding: 30rpx 25rpx;
}
.cart-list .cart-item .cart-picker {
  flex: 0 0 auto;
}
.cart-list .cart-item .cart-picker view {
  height: 100%;
  display: table;
}
.cart-list .cart-item .cart-picker view view {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.cart-list .cart-item .cart-goods-detail {
  flex: 1 1 auto;
}
.cart-list .touch-move-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cart-list .cart-item-delete {
  flex: 0 0 auto;
  width: 100rpx;
  margin-left: 10rpx;
  background-color: #fa5251;
  border-radius: 10rpx;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cart-list .cart-item-delete view {
  display: table;
  width: 100%;
  height: 100%;
}
.cart-list .cart-item-delete view text {
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
}
.cart-tools {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90rpx;
  padding: 0 30rpx;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.cart-tools .tools-picker {
  flex: 0 0 auto;
  height: 100%;
  display: table;
  margin-right: 30rpx;
}
.cart-tools .tools-picker view {
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.cart-tools .tools-text {
  flex: 1 0 auto;
  height: 100%;
  text-align: right;
  display: table;
  margin-right: 30rpx;
}
.cart-tools .tools-text text {
  display: table-cell;
  vertical-align: middle;
}
.cart-tools .cart-btn {
  flex: 0 0 auto;
}
.cart-tools .cart-btn view {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200rpx;
  height: 75rpx;
  background-color: #fa5251;
  border-radius: 50rpx;
  text-align: center;
  line-height: 75rpx;
  color: white;
}
